.home--background-image{
  background-image: url("../../images/stars.svg");
  background-color: black;
  height: 100vh;
  display:grid;
  place-items:center;
}
.home--info-container{
  max-widht:450px;
  margin: auto 0;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.home--main-text{
  color: white;
}
